@{
    ViewData["Title"] = "Client Details";
}

@section Css {
    <link asp-append-version="true" rel="stylesheet" href="~/vendor/chart.js/Chart.min.js" />
}

@section Sole {
    <style>
        .gcb-table {
            padding: 3px 10px !important;
        }
    </style>
}

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">

                <div class="col-xl-6 col-md-6">
                    <div class="card card-stats bg-gradient-indigo">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0 text-white">Client Name</h5>
                                    <span class="h2 font-weight-bold mb-0 text-white">@ViewBag.Client.Name</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-white text-default rounded-circle shadow">
                                        <i class="far fa-user"></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="col-xl-6 col-md-6">
                    <div class="card card-stats bg-gradient-indigo">
                        <a asp-controller="Campaigns" asp-action="ClientCampaign" asp-route-clientId="@ViewBag.Client.Id">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0 text-white">Total Campaigns</h5>
                                        <span class="h2 font-weight-bold mb-0 text-white">@ViewBag.NumberOfCampaign</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-white text-default rounded-circle shadow">
                                            <i class="far fa-image"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </a>


                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="card card-stats bg-gradient-indigo">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0 text-white">Total Impressions Generated</h5>
                                    <span class="h2 font-weight-bold mb-0 text-white">@ViewBag.TotalImpression</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-white text-default rounded-circle shadow">
                                        <i class="far fa-thumbs-up"></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="card card-stats bg-gradient-indigo">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0 text-white">Total Link Clicks</h5>
                                    <span class="h2 font-weight-bold mb-0 text-white">@ViewBag.TotalLinkClick</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-white text-default rounded-circle shadow">
                                        <i class="far fa-mouse-pointer"></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-md-6">
                    <div class="card card-stats bg-gradient-indigo">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0 text-white">Total Followers Generated</h5>
                                    <span class="h2 font-weight-bold mb-0 text-white">@ViewBag.TotalFollowersGenerated</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-white text-default rounded-circle shadow">

                                        <i class="far fa-users"></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="card card-stats bg-gradient-indigo">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0 text-white">Total Income</h5>
                                    <span class="h2 font-weight-bold mb-0 text-white">@ViewBag.TotalIncome</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-white text-default rounded-circle shadow">

                                        <i class="far fa-money-bill"></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="card card-stats bg-gradient-indigo">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0 text-white">Total Expense</h5>
                                    <span class="h2 font-weight-bold mb-0 text-white">@ViewBag.TotalExpense</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-white text-default rounded-circle shadow">

                                        <i class="far fa-exchange"></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="card card-stats bg-gradient-success">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0 text-white">Total Profit</h5>
                                    <span class="h2 font-weight-bold mb-0 text-white">@ViewBag.TotalProfit</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-white text-default rounded-circle shadow">

                                        <i class="far fa-rupee-sign"></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script asp-append-version="true" src="~/vendor/chart.js/Chart.min.js"></script>
    <script asp-append-version="true" src="~/vendor/chart.js/utils.js"></script>
    @*<script asp-append-version="true" src="~/vendor/chart.js/chartjs-plugin-datalabels.js"></script>*@

    <script>


                                                //var purple_orange_gradient = ctx.createLinearGradient(100, 0, 100, 700);
                                                //purple_orange_gradient.addColorStop(0, 'rgba(255,165,0,0.5)');
                                                //purple_orange_gradient.addColorStop(1, 'rgba(199, 34, 184, 0.5)');

    </script>
}